// article card
section {
  .headline {
    .title {
      /* Reviews */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      /* identical to box height, or 114% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #1A1A1A;

      .badge {
        /* Total 7 articles */
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #1A1A1A;
      }
    }

    .operation {
      /* Rectangle 3468524 */
      height: 40px;
      width: 106px;
      box-sizing: border-box;
      border: 1px solid #1A1A1A;

      /* View All */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      /* 主色 */
      color: #F1B335;
    }

    .btn-dark {
      background: hsla(0, 0%, 10%, 1);
    }

  }

  .card {
    width: 288px;
    height: 300px;
    background: hsla(0, 0%, 100%, 1);

    .copywriters {
      height: 138px;

      .pre_title {
        /* Reviews */
        font-family: 'Rajdhani SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* 主色 */
        color: #F1B335;
      }

      .title {
        /* LattePanda Review: Alternative Of Raspberry Pi */
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #1A1A1A;
      }

      .author {
        /* ZimaBoard - 01/06/2023 */
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #1A1A1A;
      }
    }
  }
}

// main text
.article{
  padding: 48px;
  width: 776px;
  background: #FFFFFF;

  .reviews{
    /* Reviews */
    font-family: 'Rajdhani SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #1A1A1A;
  }
  title.title{
    display: block;
    // 标题内容常规间距 16px
    margin-bottom: 1rem;

    &.h1{
      margin: 1rem 0;
      /* ZimaBoard – Kodi Media Server: Stream Your Favorite Content Hassle-Free */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      /* or 120% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #1A1A1A;
    }
    &.h2{
      /* Part 1. What is ZimaBoard and its features? */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height, or 125% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #1A1A1A;
    }
    &.h3{
      /* 2. Configuring ZimaBoard for optimal streaming experience */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      /* or 114% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #1A1A1A;
    }
    &.h4{
      /* Network settings and connectivity */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      /* identical to box height, or 125% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #1A1A1A;
    }
  }

  .text{
    margin-bottom: 40px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #1A1A1A;
    .text{
      margin: 2rem 0;
    }
  }

  .img{
    margin: 2rem 0;
    width: 100%;
    height: auto;
  }
  .navigation-part{
    margin: 40px 0;
    display: flex;
    flex-direction: column;


    .navigation-item{
      /* Part 1. What is ZimaBoard and its features? */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      /* identical to box height, or 130% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      /* 链接色 */
      color: #006CD9;
    }
    .navigation-item:not(:last-child){
      margin-bottom: 16px;
    }
  }

  .option{
    li{
      list-style-type: disc;
      line-height: 26px;
    }
    li:not(:last-child){
      margin-bottom: 16px;
    }
  }

}

// background img
.background{
  background-color: #FAFAFA !important;
  background: url(../images/article/1.jpg) no-repeat;
  background-size: 100% 480px;
  background-position: center top;
}